p, h1, h2, h3, a {
  color: #000000;
  margin: 0;
  padding: 0;
}

p {
  padding: 10px;
  font-size: 2em;
}

*{
    font-family: 'Ranga', cursive;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.section {
  background-color: #fbfbf9;
  padding: 50px;
}

.home_page, .professions_page, .projects_page, .education_page, .contacts_page {
  text-align: center;
}

h1 {
  font-size: 4.5em;
}

.home_page img {
  max-width: 200px;
  max-height: 200px;
}

#arrow {
    width: 100%;
    height: 50px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 0;
    outline: 0;
    z-index: 100;
    color: #BBB;
    background: transparent;
    -moz-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.2s cubic-bezier(0.7, 0.01, 0.3, 1);
    font: 36px Heiti, 'Lucida Grande', Arial;
    font-weight: bold;
}
#arrow span {
    display: inline-block;
    position: relative;
    top: -18px;
    -moz-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    -webkit-transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.7s cubic-bezier(0.7, 0.01, 0.3, 1);
}
#arrow:hover {
    background: #23ccbe;
}
#arrow:hover span {
    top: 0;
    color: #FFF;
}

.section a, a:visited {
  color: #23ccbe;
  text-decoration: none;
  border-bottom: 1px solid #ededed;
}

.section a:hover {
  color: #199a90;
  border-color: #bbb;
  border-bottom: 1px solid #199a90;
}

.tag_pannel {
  margin: 15px auto;
}

.tag {
  background-color: #096254;
  color: #aee2d9;
  border-radius: 3px;
  display: inline-block;
  padding: 2px 10px 2px 10px;
  margin-right: 3px;
  margin-bottom: 3px;
  opacity: 0.5;
  font-size: 1.5em;
}

.expert {
  opacity: 1;
}

.familiar {
  opacity: 0.75;
}

.elsewhere {
  list-style-type: none;
  padding: 0;
}

.elsewhere__item {
  display: inline;
  margin: 0 10px;
}

.elsewhere__item div{
  display: inline;
}

.section.leaving {
  background-color: #90e2dc;
}

.blue {
  color: #23ccbe;
}

.projects_item p {
  padding: 0;
}

.projects_item a {
  font-size: 1.5em;
}

.projects_item p {
  font-size: 2.1em;
}

.projects_item_more {
  margin-top: 2em;
}

.projects_item_more a {
  color: #1dec25;
  font-size: 1.6em;
  border: 0;
}

.projects_item_more a:hover {
  border: 0;
  color: #0a920f;

}

@media screen and (max-width: 900px) {
  p {
    font-size: 1.5em;
  }

  .home_page img {
    max-width: 100px;
    max-height: 100px;
  }

  h1 {
    font-size: 3.5em;
  }

  .tag {
    font-size: 1.2em;
  }

}
